.app,
#root {
  border-radius: 10px;
  width: 95%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.233);
}

#root {
  border-radius: 0;
  width: 100%;
  margin: 0px -100px 0px -100px;
}
.nada {
  display: none;
}

h2 {
  margin-bottom: 5px;
}

.texto {
  border: none;
}

iframe {
  align-self: center;
  width: 800px;
  min-height: 520px;
}

.menu_nav,
.menu_ul {
  margin-left: 35px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-weight: 600;
}

header {
  display: flex;
  padding-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.btn_box {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: -60px;
}

.arquivo_box {
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.445);
  width: 160px;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: width 600ms, height 600ms, margin 1s;
}

.arquivo_box:hover {
  margin: 0;
  padding: 0;
  width: 190px;
  height: 230px;
}
.img_arquivo {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
}
.home_btn_box {
  padding: 2px 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.164);
  font-size: 10px;
  color: rgba(255, 255, 255, 0.685);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
  font-weight: 600;
  margin-top: 2px;
  opacity: 0.6;
  border-radius: 10px;
  transition: opacity 400ms, color 400ms, font-size 400ms;
}

.home_btn_box:hover {
  opacity: 1;
  font-size: 11px;
  color: white;
}

.link {
  text-decoration: none;
  cursor: auto;
}

.link > li {
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.685);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
  cursor: pointer;
  width: 70%;
}

.link > li:hover {
  color: white;
  padding-left: 15px;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.658);
  transition-property: padding;
  transition-duration: 400ms;
}

.title > h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
  width: 50%;
  cursor: pointer;
}

.margintop {
  margin-top: 30px;
}
.container_center {
  display: flex;
  justify-content: space-around;
  min-height: 550px;
  flex-wrap: wrap;
  align-items: center;
}

.home_btn_r {
  display: none;
  width: 150px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
  font-weight: 600;
  margin-top: 2px;
  border-radius: 10px;
}
.img_container {
  width: 50%;
  height: 50%;
  min-width: 200px;
}
#goblin {
  width: 100%;
}

@media only screen and (max-width: 1080px) {
  .margintop {
    margin-top: 70px;
  }
  .arquivo_box {
    margin-bottom: 10px;
  }

  header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn_box {
    display: none;
  }

  .title > h1 {
    font-size: 23px;
    width: 100%;
  }

  .arquivo_box:hover {
    margin: 10px;
  }

  .link > li {
    align-self: center;
    width: 100%;
    margin-left: -20px;
  }

  .home_btn_r {
    display: block;
    padding: 10px;
  }

  .app,
  #root {
    background-color: rgba(255, 255, 255, 0);
  }

  .app {
    background-color: rgba(0, 0, 0, 0);
  }
}
@media only screen and (max-width: 600px) {

  header {
    background-color: #0d10159a;
    border-radius: 10px;
  }
  .menu_nav,
  .menu_ul {
    text-align: center;
    margin-left: 15px;
  }
  .link {
    width: 130px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    margin-bottom: 20px;
  }
  .home_btn_r {
    margin-right: 5px;
  }

  .menu_nav,
  .menu_ul {
    margin-left: 0px;
  }

  .link {
    width: 120px;
  }
}
